*{
padding:0px;
margin: 0px;
font-family: "Source Sans 3", sans-serif;
box-sizing: border-box;

}

/*어사이드 시작*/
#box_out{

    width: 296px;
    height:451px;
    margin-top:43px;
    margin-left:43px;
    border:1px solid rgba(0, 0, 0, .25) ;
    float:left;
    
}

#box_in_1{
opacity: 88%;
margin-left:53px;

}


#box_in_1 img{
  margin-top:17px;
  vertical-align: middle;
  float:left;
    
    }
#box_in_1 p{
    opacity: 32%;
    margin-left:14px;
    font-size:32px;
    vertical-align: middle;
    margin-top:26px;
    float:left;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 296px;
        text-align: left;
      }
      
      .dropdown-button {
   
        color: rgba(0, 0, 0, .66);
        padding-left:25px;
        font-size: 24px;
        border: none;
        cursor: pointer;
        width: 296px;
        text-align: left;
        padding-top:3px;
 

      }
      .box_in_2{
        margin-top:92px;
      }
      .dropdown-content {
        display: none;
    
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }

      .show {
  display: block;
}

.dropdown-button img{
float:right;
margin-right:20px;
}


.main-wrap{
    width:1230px;
    height:100%;
    border:1px solid rgba(0, 0, 0, .25) ;
    float: right;
    margin-right:57px;
    margin-top:43px;
}
/*어사이드 끝*/

.message{
width:1000px;
}
#chat1{
	width:350px;
height:800px;
border:1px solid rgba(0, 0, 0, .25) ;
float:left;
}
#chat2{
	width:878px;
	border:1px solid rgba(0, 0, 0, .25) ;
	height:700px;
float:right;
}
.search-box{
	width:330px;
	height:74px;
	border:5px;
 border-radius: 12px;
	background-color: rgba(217,217,217,0.58);
	margin:0 auto;
	padding-top:18px;
	padding-left:17px;
}

.user-profile{
	width:72px;
	height:72px;
	background-color:rgb(217,217,217);
	 border-radius: 100%;
	   background-image: url("../images/User.png");
	  background-repeat: no-repeat;
background-position: center;
float:left;
margin-top:35px;
margin-left:18px;
margin-right:18px;

}
#chat2_1{
	width:876px;
	border:1px solid rgba(0, 0, 0, .25) ;
	height:124px;
}
#chat2_2{
	width:876px;
	height:674px;
	border:1px solid rgba(0, 0, 0, .25) ;
	background-color:rgba(0, 0, 0, .25);
}
.name-content{
	float:left;
	margin-top:35px;
}
.chat3{
	width:876px;
	height:100px;
float:right;
}


.chat3 input{
width:709px;
height:81px;
border-radius:12px;
background-color:gray;
float:left;
margin-left:56px;
}

.chat3 img{
margin-top:15px;
float:left;
margin-left:15px;
}
footer{
	height:250px;
	width:100%;
	background-color: rgba(217,217,217,0.58);
}






